/* --------------------------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* --------------------------------------------------------------- */
/* REUSEABLE */
/* --------------------------------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #555;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h4 {
    color: #555;
    font-size: 120%;
    word-spacing: 4px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

/* --------------------------------------------------------------- */
/* REUSEABLE */
/* --------------------------------------------------------------- */

.new-row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.new-row:before,
.new-row:after {
    content: " ";
    display: table;
}

.new-row:after {
    clear: both;
}

h3.main-title {
    text-align: center;
    display: block;
    padding-top: 40px;
}

.centered-title {
    text-align: center;
}

.clearfix {
    overflow: auto;
}

/* --------------------------------------------------------------- */
/* HEADER */
/* --------------------------------------------------------------- */

.home-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.all-bg {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-nav {
    text-align: center;
    list-style: none;
    margin-right: auto;
    padding-top: 50px;
}

.main-nav li {
    display: inline;
    margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    padding: 6px 0;
    font-size: 120%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #BFA473;
}

.main-nav.black li a:link,
.main-nav.black li a:visited {
    color: #555;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text-box h1, h4 {
    color: #fff;
}

/* --------------------------------------------------------------- */
/* BUTTONS */
/* --------------------------------------------------------------- */

.btn:link,
.btn:visited,
input[type="submit"] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
    background-color: #BFA473;
    color: #fff;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
    background-color: #fff;
    border: 1px solid #BFA473;
    color: #BFA473;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #fff;
}


button.btn.btn-full-brown {
    align-items:min-height: ;
    text-align: center;
    cursor: pointer;
    color: #BFA473;
    background-color: none;
    box-sizing: border-box;
    padding: 3px 9px;
    border-width: 0px;
    border-style: none;
    border-color: #BFA473;
    border-image: initial;
}

.btn-full-brown:link,
.btn-full-brown:visited {
    margin-left: 15px;
    background-color: #402D22;
    border: 1px solid #BFA473;
    color: #BFA473;
}

.btn-full-brown:hover,
.btn-full-brown:active {
    background-color: #fff;
    color: #402D22;
    border: 1px solid #402D22;
}

/* --------------------------------------------------------------- */
/* COLLECTION */
/* --------------------------------------------------------------- */

.collections,
.product {
    margin-top: 5%;
}

.prod-list {
    list-style: none;
    margin-right: auto;
    padding-top: 10px;
}

.prod-list li a:link,
.prod-list li a:visited {
    color: #555;
    text-decoration: none;
    padding: 6px 0;
    text-transform: uppercase;
}

/* --------------------------------------------------------------- */
/* PRODUCTS */
/* --------------------------------------------------------------- */

.product-header,
.cart-header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


.products,
.services {
    margin-bottom: 15px;
}

a.link-to-prod {
    text-decoration: none;
    color: #fff;  
}

a.link-to-prod:hover {
    text-decoration: none;
    color: #402D22;
    transition: color 0.5s;
}

.product,
.product-view,
.service {
    background-color: #BFA473;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
    box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
    display: inline-block

}

.product-price,
.service-price {
    float: right;
    font-size: 130%;
}

.image {
    width: 100%;
    height: auto;
    margin-left: auto;
	margin-right: auto;
	display: block;
    padding-bottom: 10px;
    padding-top: 20px;
    overflow: hidden;
    transform: scale(0.9);
    opacity: 0.5;
    transition: transform 0.5s, opacity 0.5s;
}

.image:hover {
  transform: scale(1);
  opacity: 1;
}


/* --------------------------------------------------------------- */
/* PRODUCT */
/* --------------------------------------------------------------- */

.product-name{
    margin-bottom: 20px;
    text-align: center;
}

.product-image img{
    width: 80%;
    height: 80%;
}
.product-view {
    margin-bottom: 15px;
    margin-top: 50px;
}

.buy {
    margin-top: 30px;
    float: right;
}

.product-description p{
    margin-bottom: 5px;
}

/* --------------------------------------------------------------- */
/* SERVICES */
/* --------------------------------------------------------------- */

.service-header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


/* --------------------------------------------------------------- */
/* SERVICE */
/* --------------------------------------------------------------- */

.service {
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-name,
.service-book {
    text-align: center;
}
.service-name h1{
    color: #fff;
}

.service-description {
    margin-bottom: 30px;
}

.service-description img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

.service-calendar {
    text-align: center;
    margin-bottom: 30px;
}

/* --------------------------------------------------------------- */
/* CONTACT */
/* --------------------------------------------------------------- */

.form-container-header.contact-header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.contact-form {
    width: 75%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=password],
select,
textarea {
    width: 100%;
    margin-bottom: 15px;
    background-color: #F2ECE4;
    color: #BFA473;
    font-size: 1.125em;
    padding: 6px 8px;
    border-radius: 0;
    border: 1px solid #D9CAAD;
    font-family: inherit;
    font-style: italic;
}

input[type=text].form-control {
    font-size: 80%;
    height: 30px;
}

.form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BFA473;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #BFA473;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #BFA473;
}

:-moz-placeholder { /* Firefox 18- */
    color: #BFA473;
}

textarea {
    height: 200px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none
}

/* --------------------------------------------------------------- */
/* ICONS */
/* --------------------------------------------------------------- */
.icon-big {
    font-size: 130%;
}

.icon-white {
    color: #fff;
}

/* --------------------------------------------------------------- */
/* BIBI CSS */
/* --------------------------------------------------------------- */

section h1 {
    color: black;
    font-size: 160%;
}

.form-container {
    width: 30%;
    text-align: center;
    margin: auto;
}

.form-container-header {
    margin-top: 50px;
}

.form-container p {
    margin-bottom: 10px;
}

.hr-small {
    border-width: 2px 0 0 0;
    width: 150px;
    margin: 20px auto;
    border-color: #BFA473;
    border-style: solid;
}

.hr-small-brown {
    border-width: 2px 0 0 0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: -5px;
    border-color: #402D22;
    border-style: solid;
}

.hr-big-white {
    border-width: 20px;
    width: auto;    
    margin-left: -10px;
    margin-right: -10px;
    border-color: #fff;
    border-style: solid;
}



/* --------------------------------------------------------------- */
/* CART CSS */
/* --------------------------------------------------------------- */

.cart {
    background-color: #BFA473;
    color: white;
    padding: 15px;
    margin-bottom: 100px;
    -webkit-box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
    -moz-box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
    box-shadow: 7px 8px 20px -3px rgba(0,0,0,0.34);
}

.cart-hr {
    width: 99%;
    float: left;
    border-bottom: 0.5px solid #fff;
    margin: 0px auto 5px auto;
}

.cart h3{
    font-size: 80%;
    text-align: center;
}

.cart-prod {
    border-bottom: 0.01em solid #fff;
    border-top: 0.01em solid #fff;
    padding: 5px 0px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
}

.cart-prod img{
    width: 100%;
    height: 100%;
}

p.name-in-cart,
p.labels  {
    font-size: 75%;
}

.cart-glyphicon {
    font-size: 90%;
    float: right;
}

.cart-input {
    font-size: 75%; 
    width: 30px;
    height: 20px; 
    color:#402D22;
    float: left;
    background-color: #F2ECE4;
    border: 1px solid #D9CAAD;
    font-family: inherit;
    font-style: italic;
    border-radius: 0;
    color: #BFA473;
}

.address {
    border-right: 0.01em solid #fff;
}

/* --------------------------------------------------------------- */
/* CALENDAR CSS */
/* --------------------------------------------------------------- */


.calendar-7 {
    position: absolute;
    width: 376px;
    background-color: #72b8ff;
    padding: 8px
}

.calendar-7 .days {
    color: white;
    font: 14px normal;
    width: 100%;
    text-align: center
}

.calendar-7 .days .calendar-7-day {
    display: inline-block;
    cursor: pointer;
    width: 13%;
    height: 55px;
    padding-top: 8px;
    margin-bottom: 8px
}

.calendar-7 .days .calendar-7-day:hover, .calendar-7 .days .calendar-7-day.active { background-color: #2874c6 }

.calendar-7 .hours, .calendar-7 .minutes {
    background-color: white;
    width: 360px;
    height: 162px;
    margin: 0 auto;
    border-radius: 4px
}

.calendar-7 .minutes {
    display: none;
    height: 81px
}

.calendar-7 .calendar-7-hour, .calendar-7 .calendar-7-minute {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    font: 14px normal;
    padding: 4px;
    color: #4a4a4a;
    text-align: center;
    cursor: pointer
}

.calendar-7 .calendar-7-hour:hover, .calendar-7 .calendar-7-minute:hover, .calendar-7 .calendar-7-hour.active, .calendar-7 .active.calendar-7-minute {
    background-color: #53a2f6;
    color: white;
    border-radius: 3px
}

.calendar-7 .calendar-7-hour.disabled, .calendar-7 .disabled.calendar-7-minute {
    color: #333;
    background-color: #eee;
    cursor: not-allowed
}
